{
  "base_uri":"/vnwaf",
  "static_file_rule":[],
  "filter_enable":true,
  "config_version":"0.36",
  "frequency_limit_enable":false,
  "static_file_enable":false,
  "backend_upstream":{
  },
  "response":{
    "response_error_json":{
      "content_type":"application/json",
      "body":"{\"msg\":\"Bad Request\",\"status\":\"error\"}"
    },
    "demo_response_html":{
      "content_type":"text/html",
      "body":"This is a html demo response"
    },
    "response_ok_json":{
      "content_type":"application/json",
      "body":"{\"msg\":\"ok\",\"status\":\"success\"}"
    }
  },
  "summary_group_temporary_enable":true,
  "admin":[{
      "enable":true,
      "password":"vnfadmin@2022",
      "user":"admin"
    }],
  "uri_rewrite_rule":[{
      "enable":true,
      "matcher":"demo_verynginx_short_uri",
      "to_uri":"/$1",
      "replace_re":"^/vn/(.*)"
    }],
  "scheme_lock_rule":[{
      "scheme":"https",
      "enable":false,
      "matcher":"verynginx"
    }],
  "proxy_pass_enable":false,
  "cookie_prefix":"vnwaf",
  "filter_rule":[{
      "matcher":"localhost",
      "enable":false,
      "action":"accept"
    },{
      "enable":true,
      "custom_response":false,
      "code":"403",
      "matcher":"attack_sql_0",
      "action":"block"
    },{
      "action":"block",
      "enable":true,
      "matcher":"attack_backup_0",
      "code":"403"
    },{
      "action":"block",
      "enable":true,
      "matcher":"attack_scan_0",
      "code":"403"
    },{
      "action":"block",
      "enable":true,
      "matcher":"attack_code_0",
      "code":"403"
    },{
      "enable":true,
      "custom_response":false,
      "code":"400",
      "matcher":"okhttp",
      "action":"block"
    },{
      "enable":true,
      "custom_response":false,
      "code":"400",
      "matcher":"club.china.com",
      "action":"block"
    },{
      "enable":true,
      "custom_response":false,
      "code":"400",
      "matcher":"139.226.107.184",
      "action":"block"
    },{
      "enable":false,
      "custom_response":true,
      "code":"400",
      "matcher":"Python",
      "response":"response_error_json",
      "action":"block"
    },{
      "enable":true,
      "custom_response":false,
      "code":"400",
      "matcher":"qiantiruanwen.com",
      "action":"block"
    }],
  "redirect_rule":[{
      "matcher":"demo_other_verynginx_uri",
      "to_uri":"/verynginx/index.html",
      "enable":true
    }],
  "summary_request_enable":true,
  "summary_group_persistent_enable":true,
  "browser_verify_rule":[],
  "browser_verify_enable":true,
  "scheme_lock_enable":false,
  "redirect_enable":true,
  "matcher":{
    "api_php":{
      "URI":{
        "value":"api\\.php",
        "operator":"≈"
      }
    },
    "attack_sql_0":{
      "Args":{
        "value":"select.*from",
        "operator":"≈",
        "name_operator":"*"
      },
      "Cookie":{
        "name_value":"phpMyAdmin",
        "name_operator":"=",
        "operator":"!Exist"
      }
    },
    "139.226.107.184":{
      "IP":{
        "value":"139.226.107.184",
        "operator":"="
      }
    },
    "all_request":{
    },
    "demo_verynginx_short_uri":{
      "URI":{
        "value":"^/vn",
        "operator":"≈"
      }
    },
    "Python":{
      "UserAgent":{
        "value":"Python",
        "operator":"≈"
      }
    },
    "attack_code_0":{
      "URI":{
        "value":"\\.(git|svn|\\.)",
        "operator":"≈"
      }
    },
    "attack_scan_0":{
      "UserAgent":{
        "value":"nmap|w3af|netsparker|nikto|fimap",
        "operator":"≈"
      }
    },
    "localhost":{
      "IP":{
        "value":"127.0.0.1",
        "operator":"="
      }
    },
    "demo_other_verynginx_uri":{
      "URI":{
        "value":"/redirect_to_demo",
        "operator":"="
      }
    },
    "club.china.com":{
      "Referer":{
        "value":"club.china.com",
        "operator":"≈"
      }
    },
    "attack_backup_0":{
      "URI":{
        "value":"\\.(htaccess|bash_history|ssh|sql)$",
        "operator":"≈"
      }
    },
    "okhttp":{
      "UserAgent":{
        "value":"okhttp",
        "operator":"≈"
      }
    }
  },
  "proxy_pass_rule":[],
  "summary_temporary_period":60,
  "summary_with_host":false,
  "frequency_limit_rule":[{
      "time":"10",
      "enable":false,
      "count":"1",
      "code":"200",
      "matcher":"all_request",
      "custom_response":false,
      "separate":[]
    }],
  "dashboard_host":"",
  "uri_rewrite_enable":true,
  "readonly":false,
  "summary_collect_rule":[]
}
